.nav-wrapper{
    background-color:#DCDCDC;
    height: 110px;
    border-bottom: 2px solid #068B53;
}
.abbr-logo{
font-family: 'Noto Serif Gujarati', serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
color: #0CAE91;
}
.results{
font-family: 'Noto Serif Gujarati', serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;

color: #000000;
}
.search-btn{

font-family: 'Noto Serif Gujarati', serif;
font-style: normal;
font-weight: 200;
font-size: 20px;
line-height: 29px;
width: 218px;
height: 37px;

background: #0CAE91;
border-radius: 20px;

color: #FFFFFF;

}
.signup{
    font-family: 'Noto Serif Gujarati', serif;
}
.login{
    font-family: 'Noto Serif Gujarati', serif;
}
.welcome-logo{
    color: #0CAE91;
}
input{
    background-color: #DCDCDC;
    border:solid 1px #068B53;
    width: 348px;
height: 35px;
}
.btn{
    min-width: 348px;
   
   
}
.btn-detail{
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .3);
}
.student-card{
    width: 30%;
    height: auto;
    border:solid 1px #068B53;
    

}